### Data Types: Introduction to Sets

- A set is a collection of variables which are unchangeable, unordered & unindexed.


- Sets use { curly braces }.


- Although set items are unchangeable elements can be removed and new elements added.


- Set elements cannot be accessed by index as collection is unordered.


- Duplicated values are not allowed in sets.


- Variable stored in a set can be any type.

#### Creating a set
Set are created by using { curly braces }.

In [1]:
set_name = {'Dog', 'Cat', 'Bird', 'Monkey'}

print(set_name, type(set_name))

{'Dog', 'Cat', 'Monkey', 'Bird'} <class 'set'>

#### Return the length of a set
The **len()** function can be used to return the length of a set.

In [2]:
set_name = {'Dog', 'Cat', 'Bird', 'Monkey'}

length = len(set_name)

print(length)

4

#### Set constructor
The set constructor can be used to convert another data type (*eg. lists*) into a set.

In [3]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

set_name = set(list_name)

print(set_name)

{'Dog', 'Cat', 'Monkey', 'Bird'}

#### Iterating sets
For loops can be used to iterate though sets.

In [5]:
set_name = {'Dog', 'Cat', 'Bird', 'Monkey'}

for element in set_name:
    print(element)

Dog
Cat
Monkey
Bird

#### Adding elements to sets
New elements can be added to a set using the **add** method.

In [6]:
set_name = {'Dog', 'Cat', 'Bird', 'Monkey'}

set_name.add('Fish')

print(set_name)

{'Cat', 'Bird', 'Dog', 'Fish', 'Monkey'}

#### Adding other iterables can be added to sets
The **update** method allows other iterable (*eg. lists*) to be added to sets.

In [7]:
set_name = {'Dog', 'Cat', 'Bird', 'Monkey'}

list_name = ['Fish', 'Hamster']

set_name.update(list_name)

print(set_name)

{'Cat', 'Bird', 'Hamster', 'Dog', 'Fish', 'Monkey'}

#### Remove elements from sets
The **remove** method allows for elements to be removed from set by name.

In [10]:
set_name = {'Dog', 'Cat', 'Bird', 'Monkey'}

set_name.remove('Cat')

print(set_name)

{'Dog', 'Monkey', 'Bird'}

#### Clear a set
Sets can be cleared by using the **clear** method, if called the set will be empty.

In [11]:
set_name = {'Dog', 'Cat', 'Bird', 'Monkey'}

set_name.clear()

print(set_name)

set()

#### Combine two sets
The **union** method allows for two sets to be combined.

In [12]:
set1 = {'Dog', 'Cat', 'Bird', 'Monkey'}

set2 = {'Fish', 'Hamster', 'Snake'}

set3 = set1.union(set2)

print(set3)

{'Dog', 'Fish', 'Cat', 'Snake', 'Bird', 'Hamster', 'Monkey'}

#### Comparing duplicates in two sets
The method **intersection** returns a new set that contains only elements duplicated in **both** sets.

In [13]:
set1 = {'Dog', 'Cat', 'Bird'}

set2 = {'Fish', 'Cat', 'Hamster'}

set3 = set1.intersection(set2)

print(set3)

{'Cat'}

The similar method **intersection_update** does an *inplace* modification of the existing set.

The method **symmetric_difference** does the same function but keeps all except the duplicates.

In [16]:
set1 = {'Dog', 'Cat', 'Bird'}

set2 = {'Fish', 'Cat', 'Hamster'}

set3 = set1.symmetric_difference(set2)

print(set3)

{'Bird', 'Hamster', 'Dog', 'Fish'}