### Data Types: Introduction to Lists

- Lists can store multiple elements of any type.


- Lists are **ordered**, **changeable** and allow duplicate values.


- Lists use **[ square brackets ]**


- Units of data stored in a list are referred to as **elements**

#### Creating a list
Use square brackets and comma separate values.

In [1]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

print(list_name)

['Dog', 'Cat', 'Bird', 'Monkey']

#### Accessing elements within a list

Elements within a list can be accessed using an integers within square brackets.

<span style="color:red">NOTE: </span> Indexes start a **0** for the first element.

In [2]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

element = list_name[2]

print(element)

Bird

Slices (*range of elements*) of a list can be accessed using a colon within the square brackets.

In [3]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

# Returns the 2nd up to and including the 3rd elements
list_slice = list_name[1:3]

print(list_slice)

['Cat', 'Bird']

Negative indexes can be submitted to access elements from the end of the list.

In [4]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

last_element = list_name[-1]

print(last_element)

Monkey

#### The length of a list can be found using **len()**

In [5]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

length = len(list_name)

print(length)

4

#### Add elements to the end of a list
The **append** function allows a new element to be added to the end of a list.

In [6]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

list_name.append('Fish')

print(list_name)

['Dog', 'Cat', 'Bird', 'Monkey', 'Fish']

The **extend** function appends a list to the end of an existing list

In [7]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

new_list = ['Fish', 'Hamster', 'Snake']

list_name.extend(new_list)

print(list_name)

['Dog', 'Cat', 'Bird', 'Monkey', 'Fish', 'Hamster', 'Snake']

The **extend** function also works with other data types.

In [8]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

new_tuple = ('Fish', 'Hamster', 'Snake')

list_name.extend(new_tuple)

print(list_name)

['Dog', 'Cat', 'Bird', 'Monkey', 'Fish', 'Hamster', 'Snake']

#### Remove items from a list
The remove function allows the removal of an element from the list by name.

In [9]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

list_name.remove('Cat')

print(list_name)

['Dog', 'Bird', 'Monkey']

#### Remove an element and return the element as a new variable
The **pop()** function has two utilities, it removes an element from a list and can store that element as a new variable.

In [10]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

new_variable = list_name.pop(3)

print(list_name)

print(new_variable)

['Dog', 'Cat', 'Bird']
Monkey

#### Delete an element from a list
The **del** keyword can be used to delete an element from a list

In [11]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

del list_name[2]

print(list_name)

['Dog', 'Cat', 'Monkey']

This can also be used to delete the entire list.

<span style="color:red">NOTE: </span>Trying to print the list after deletion causes an error.

In [12]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

del list_name

print(list_name)

NameError: name 'list_name' is not defined

#### Clearing a list of all elements
Clearing the list is possible using the **clear** function, this returns and empty list.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

list_name.clear()

print(list_name)

#### Concatenate lists together
Lists can be concatenated (*to connect or link in a series or chain*) by using a **+** symbol.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

new_list = ['Fish', 'Hamster', 'Snake']

print(list_name + new_list)

#### The list() constructor

Other data types can be converted into a list using the list constructor.

In [ ]:
tuple_name = (1, 2, 3, 4, 5)

tuple_name = list(tuple_name)

print(tuple_name, type(tuple_name))

#### Check if elements is in list

It is possible to check if a specified element is contained in a list.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

element1 = 'Bird'

element2 = 'Fish'

print(element1 in list_name)

print(element2 in list_name)

#### The elements in a list are changeable

Updating an element in a list is possible by using the index in square brackets.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

list_name[2] = 'Fish'

print(list_name)

More than one element can be changed this way using the slice method.
<span style="color:red">NOTE: </span> The elements (*Hamster & Donkey*) are submitted as a list.
This can be a useful way to insert elements into specific positions or overwriting existing elements.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

list_name[2:2] = ['Hamster', 'Donkey']

print(list_name)

#### Inserting items into lists 
The insert method can be used to *insert* elements into a list at a specific index.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

list_name.insert(2, 'Fish')

print(list_name)

#### Iterating lists
For loops can be used to iterate through lists.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

for element in list_name:
    print(element)

The functions **range** and **len** can be used to iterate through all elements of a list by index.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

for index in range(len(list_name)):
    print(index, list_name[index])

**While** loops can also be used to iterate through lists.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

index = 0
while index < len(list_name):
    print(index, list_name[index])
    index += 1

#### List line comprehensions are useful ways to manipulate lists in one line of code
This line comprehension will create a new list with double the integer values in the original list.

In [ ]:
integer_list = [1, 2, 3, 4, 5, 6, 7, 8]

integer_list = [element * 2 for element in integer_list]

print(integer_list)

Conditions can also be placed in list comprehensions.  In this example the value **10** was skipped as "*if element != 10* was specified as the conditional in the code.

The syntax for list line comprehension is:

#### *list = [expression for element in iterable if condition == True]*

In [ ]:
integer_list = [1, 2, 3, 4, 5, 6, 7, 8]

integer_list = [element * 2 for element in integer_list if element != 10]

print(integer_list)

Any functions can be used with line comprehensions to manipulate the contents.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

list_name = [element.upper() for element in list_name]

print(list_name)

#### Sorting lists
The sort method can be used to sort the contents of a list numerically or alphabetically.

In [ ]:
integer_list = [1, 2, 3, 4, 5, 6, 7, 8]

integer_list.sort()

print(integer_list)

This can also be done in reverse order.

In [ ]:
integer_list = [1, 2, 3, 4, 5, 6, 7, 8]

integer_list.sort(reverse = True)

print(integer_list)

#### Reversing the order of a list
The reverse method enables the entire list to be reversed in order.

In [ ]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey']

list_name.reverse()

print(list_name)

#### Count the number of occurrences in a list
The **count** method allows for the returning of an integer that indicates how many occurrences a specific element appear in the list.

In [13]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey', 'Monkey']

print(list_name.count('Monkey'))

2

#### Get the first index value of a specific element
The **index** method returns the index of an element, should the list contain duplicates of the element the first index is returned.

In [14]:
list_name = ['Dog', 'Cat', 'Bird', 'Monkey', 'Monkey']

print(list_name.index('Monkey'))

3