### Data Types: Variables
* Variables are containers for storing data values.


* In python a variable is defined when a value is assigned to it.


* Python has many variable types, we will consider the following:

    * Integers (*eg*. 1)
    
    * Floats (*eg*. 1.2)
    
    * Strings (*eg*. 'Dog')
    
    * Boolean (*eg*. True)

### Casting
One variable type can be converted to another by using a process called **casting**.

In [8]:
variable = 1

print('integer: ', variable)

integer:  1

In [9]:
variable = float(1)

print('float', variable)

float 1.0

In [10]:
variable = str(variable)

print('string', variable)

string 1.0

### Getting the type
The **type()** function can be used to see what type a variable is.

In [5]:
variable = 1

print('integer: ', variable, type(variable))

integer:  1 <class 'int'>

In [6]:
variable = float(1)

print('float', variable, type(variable))

float 1.0 <class 'float'>

In [7]:
variable = str(variable)

print('string', variable, type(variable))

string 1.0 <class 'str'>

### Things to remember about variables
Variable and their names have particular rules in Python.

In [3]:
# Varible names are care sensitive, upper case letters are only used in some cases by convention.

x = 10

X = 100

print(x, X)

10 100

In [4]:
# Varaible names cannot, start with numbers, have spaces or hypens. Running the following will create an error.

1variable = 10

one-varible = 10

one variable = 10

SyntaxError: invalid decimal literal (4203259994.py, line 3)

### Using different "cases" in Python
There is a **case convention** when coding in Python.

* **Camel Case** is used for the names of functions

In [ ]:
def newFunction(x):
    return x

* **Pascal Case** is used for classes

In [ ]:
class NewClass:
    pass

* **Snake Case** is used for variables

In [ ]:
new_variable_name = 100

### Multiple variables
Python enables the user to assign mutliple variable in one line of code.

In [ ]:
a, b, c = 'Dog', 'Cat', 'Bird'

print(a, b, c)

Or set multiple variables to the same value.

In [ ]:
a = b = c = 'Dog'

print(a, b, c)

Multiple variables can be **unpacked** from **iterables** such as lists or tuples.

In [ ]:
a, b, c = ('Dog', 'Cat', 'Bird')

print(a, b, c)

### Strings
Strings are used to store text in Python.

* Both single and double quotes can be used in python

In [ ]:
string_variable = 'Dog'

string_variable = "Dog"

* Strings can use multiple line by enclosing them in 3 quotes (*single or double*)

In [ ]:
string_variable = """
    All work and no play
    make Jack a
    dull boy.
"""

print(string_variable)

### Strings can be accessed like lists
Individual characters of a string can be accessed by using an index in square brackets. Negative values can be used to access characters from the end.

In [ ]:
string_variable = 'All work and no play, makes Jack a dull boy.'

char = string_variable[1]

print(char)

This method can be used with a colon within the square brackets to **slice** and return a section of the string.

In [ ]:
string_variable = 'All work and no play, makes Jack a dull boy.'

slice_ = string_variable[13:20]

print(slice_)

### Return the length of a string
A strings length can be returned by the **len()** function.

In [ ]:
string_variable = 'All work and no play, makes Jack a dull boy.'

length = len(string_variable)

print(length)

### Search for a substring in a string
A pattern of characters within a string can be found using **in** and **not in**.

In [ ]:
string_variable = 'All work and no play, makes Jack a dull boy.'

print('All' in string_variable)

print('Cat' in string_variable)

### Replace characters in a string
The **replace()** method can be used to swap specific characters for alternate ones.  In the example all spaces are replaced with an underscore.

In [5]:
string_variable = 'All work and no play, makes Jack a dull boy.'

string_variable = string_variable.replace(' ', '_')

print(string_variable)

All_work_and_no_play,_makes_Jack_a_dull_boy.

### Remove white space
All the spaces (*white space*) can be removed from strings using the built in **strip()** method.
In this example the **escape characters** *\n* and *\t* for new line and tab space respectively to demonstrate these too are removed.

In [ ]:
string_variable = '\n\t   All work and no play, makes Jack a dull boy.   \t\n'

print(string_variable)

no_white_space = string_variable.strip()

print(no_white_space)

### Change character cases with upper, lower, capitalized & title methods
Using the built in methods **upper()**, **lower()**, **capitalize()** and **title()** the cases of the characters can be changed.

In [ ]:
string_variable = 'All work and no play, makes Jack a dull boy.'

print(string_variable.upper())

print(string_variable.lower())

print(string_variable.capitalize())

print(string_variable.title())

### Convert strings into lists using split
Strings can be converted into lists by using the method **split()** and designating a character to split on.  In this example the string is split on the space.

In [ ]:
string_variable = 'All work and no play, makes Jack a dull boy.'

split = string_variable.split(' ')

print(split, type(split))

Inversely **join()** can be used to create strings for lists

In [ ]:
string_variable = ' '.join(split)

print(string_variable, type(string_variable))

### Concatenation of string
Strings can be concatenated (*to connect or link in a series or chain*) using the **+** symbol.

In [ ]:
string_a = 'All work and '

string_b = 'no play'

string_c = string_a + string_b

print(string_c)

### 'F' - strings
As of Python 3.6 'F' strings (*or formatted strings*) can be used to insert other variables into a string.
In the example note the 'f' character infront of the first quotation mark.

In [ ]:
number = 38

name = 'Jack'

string = f'Hello {name}, you have {number} new messages!'

print(string)

### Formatting numerical strings
Number string can be modified to help readability.

In [ ]:
# Tip: put underscores in large numbers for code readability
integer = 12_237_423_564

print(integer, type(integer))

number_string = f'{integer:,}'

print(number_string)

### Startswith and Endswith
The built in methods **startswith()** and **endswith()** are able to check if the submitted characters appear at the start or end of the string. A boolean value is returned.

In [1]:
string_variable = 'All work and no play, makes Jack a dull boy.'

print(string_variable.startswith('All'))

print(string_variable.endswith('boy.'))

True
True